NODE_ENV=development
APP_PORT=3000
SESSION_SECRET=biblioteca-session-secret-key-32chars

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=lib_admin
POSTGRES_PASSWORD=LibAdmin123!
POSTGRES_DB=LibraryManagementSystem
